{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div class="flec col items-start">
<h1> Administration </h1>


<a href="{{ path('app_accueil') }}">
Revenir à l'accueil
</a>
</div>
{% endblock %}